/* css styles */

/* GENERAL */

img.round {
  border-radius: 10px !important;
}

/* HOMEPAGE */

.homepage-image {
  
   /* width: 922px; 
    height: 718px;*/
    
    width: 100%;
    max-width: 922px;
    min-width: 400px;
    aspect-ratio: 922 / 718;
    
    border-radius: 0px 100px 0px 100px;
    background-image: url('./assets/images/hassen_homepage.png'); 
    background-size: cover; 
    transition: background-image 0.75s ease-in-out; 
}

.homepage-image.active {
    background-image: url('./assets/images/hassen_homepage_hover.png'); 
}


/* ABOUT */


/* CONTACT */

.contact-text {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

figcaption {
  text-align: center;
  font-size: 10pt;
  caption-side: bottom;
}