/* css styles */

/* GENERAL */

img.round {
  border-radius: 30px !important;
}

/* HOMEPAGE */

.homepage-image-hover {
    width: 960px; /* Specify the width */
    height: 720px; /* Specify the height */
    border-radius: 0px 150px 0px 150px;
    background-image: url('./assets/images/hassen_homepage.png'); /* Initial background image */
    background-size: cover; /* Cover the entire area of the element */
    transition: background-image 0.75s ease-in-out; /* Smooth transition */
}

.homepage-image-hover:hover {
    background-image: url('./assets/images/hassen_homepage_hover.png'); /* Change on hover */
}


/* ABOUT */


/* CONTACT */

.contact-text {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

figcaption {
  text-align: center;
  font-size: 10pt;
  caption-side: bottom;
}