/* css styles */


/* HOMEPAGE */

.homepage-image-hover {
    width: 960px; /* Specify the width */
    height: 720px; /* Specify the height */
    border-radius: 0px 150px 0px 150px;
    background-image: url('./assets/images/homepage.png'); /* Initial background image */
    background-size: cover; /* Cover the entire area of the element */
    transition: background-image 0.75s ease-in-out; /* Smooth transition */
}

.homepage-image-hover:hover {
    background-image: url('./assets/images/homepage_hover.png'); /* Change on hover */
]